<ActionBar title="Search" class="action-bar"></ActionBar>

<StackLayout class="green">
    <SearchBar #SearchBar (submit)="search($event)"></SearchBar>
    <ScrollView>
        <WrapLayout horizontalAlignment="center">      
            <StackLayout style="margin-left: 10" class="card" width="45%" *ngFor="let recipe of recipes">
                <StackLayout horizontalAlignment="center" (tap)="goToRecipe(recipe.id)">
                    <Image [src]="recipe.Image"></Image>            
                    <Label class="name" horizontalAlignment="center" textWrap="true" [text]="recipe.Name"></Label>
                </StackLayout>
            </StackLayout>           
        </WrapLayout> 
    </ScrollView>
</StackLayout>