

ActionBar {
    background-color: #650100;
    color: white;
}
.homePage {
    background-color: #8AC215;
}

.name {
    margin:10
}

.title {
    font-weight: bold;
    font-size: 20;
    color: white;
    text-align: center;
}

.caption { 
    color: black;
    font-style: italic;
}

.card {
    margin: 5;
    color: white;
    vertical-align:top;
    background-color: #650100;
    border-width: 1;
    border-radius: 5;
    border-color: #8AC215;
}

.innerCard {
    color: #650100;
    vertical-align:top;
    padding: 5;
    background-color: white;
}

.banner {
    background-color: #FACC45;
    color: black;
    font-weight: bold;
    font-size: 20;
    text-align: center;
    width: 100%;
}
