

ActionBar {
    background-color: #650100;
    color: white;
}

/* UI elements */

.banner {
    background-color: #FACC45;
    color: black;
    font-weight: bold;
    font-size: 20;
    text-align: center;
    width: 100%;
}

.caption { 
    color: black;
    font-style: italic;
}

.card {
    margin: 5;
    color: white;
    vertical-align:top;
    background-color: #650100;
    border-width: 1;
    border-radius: 5;
    border-color: #8AC215;
}

.homecard {
    margin: 5;
    color: white;
    vertical-align:top;
    text-align: center;
    border-radius: 5;
    background-color: #650100;
}

.innerCard {
    color: #650100;
    vertical-align:top;
    padding: 5;
    background-color: white;
}

.name {
    margin:10
}

.title {
    font-weight: bold;
    font-size: 20;
    color: white;
    text-align: center;
}

/* generics*/

.green {
    background-color: #8AC215;
}

.orange {
    background-color: orange;
}

/*specifics*/

.btnSpeak {
    height: 80;
    width: 80;
    font-size: 30;
    text-align: center;
    color: #fff;
    border-radius: 40;
    text-align: center;
    vertical-align: bottom;
}

@keyframes pulse {
    0% { transform: scale(1, 1);}
	50% { transform: scale(1.15, 1.15);}
	100% { transform: scale(1, 1);}
}
.pulse {
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

/*fonticon*/
.fa {
  font-family: FontAwesome, fontawesome-webfont;
}